{% include 'shared/header.html' %}

<main class="pharmacology-page">
  <h1>Pharmacology Hub</h1>

  <section class="drug-classes">
    <h2>Drug Classes</h2>
    <ul>
      <li><a href="#">Beta Blockers</a></li>
      <li><a href="#">ACE Inhibitors</a></li>
      <li><a href="#">Antibiotics</a></li>
    </ul>
  </section>

  <section class="calculators">
    <h2>Medical Calculators</h2>
    <ul>
      <li><a href="#">Dose Calculator</a></li>
      <li><a href="#">Expected Delivery Date</a></li>
      <li><a href="#">BMI Calculator</a></li>
    </ul>
  </section>
</main>

{% include 'shared/footer.html' %}
